.expert_container {
  height: 400px;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
}

.expert_slider {
  /* display: flex; */
  /* min-width: 500px; */
  width: 50vw;
  margin: 20px;
}

.para {
  margin: 20px;
}
